doctype html
html
  head
    title= title
    //-
      body covers whole page
      h1 covers header
    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
      }
  
      h1 {
        color: #333;
      }

  body
    h1= title
    p Tag: #{data.tag}
