doctype html
html
  head
    title= title
    //-
      body covers whole page
      h1 covers header
      table, th, td, label covers the table and its contents
      input, button covers the query search
    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
      }
  
      h1 {
        color: #333;
      }

      table {
        width: 90%;
        margin: 20px auto;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      } 
      th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      label {
        display: block;
        margin-bottom: 5px;
        color: #333;
      }

  body
    h1= title
    table
      thead
        tr
          th UserId
          th MovieId
      tbody
        each row in data
          tr
            td
              a(href='/info/' + row.userId)= row.userId
            td= row.movieId
