doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .dropdown
      h1= title
      .dropdown-content
        p
          a(href="/") Home 
          | 
          a(href='/films') Films
          | 
          a(href='/genres') Genres
          | 
          a(href='/predict') Predict Performance
    p
