doctype html
html
  head
    title= title
  body
    h1= title
    
    form(action='/db/search', method='GET')
      label(for='query') Enter Query:
      input(type='text', name='query', id='query')
      button(type='submit') Search

    table
      thead
        tr
          th TagId
          th Tag
      tbody
        each row in data
          tr
            td
              a(href='/db/' + row.tagId)= row.tagId
            td= row.tag ? row.tag : 'Null'
